/* Announcement Reader */
#bg_anreader {margin-left: -550px; width: 1100px; position: absolute;}
#bg_anreader + .bg_mask {position: fixed;}
#bg_anreader .bg_container {min-height: 500px; height: calc(100vh - 125px);}

#bg_anreader .bg_container > ul {width: 275px; float: left; list-style: none; overflow: auto; height: 100%; position: relative;}
#bg_anreader .bg_container > ul:empty:after {content: 'Loading Announcements'; display: block; text-align: center; color: #FFF; font-size: 1.25em; font-weight: bold; margin: -0.75em 0 0; width: 100%; top: 50%; position: absolute;}
#bg_anreader .bg_container > ul li {display: block; padding: 1em 1.25em; cursor: pointer; box-shadow: 0 0 0.25em rgba(0,0,0,0.25); background: rgba(255,255,255,0.9);}
#bg_anreader .bg_container > ul li:hover {background: rgba(255,255,255,0.95);}
#bg_anreader .bg_container > ul li span {display: block;}
#bg_anreader .bg_container > ul li span.title {font: normal 15px "Century Gothic", "TeXGyreAdventorBold", Arial, Tahoma, Verdana, sans-serif;}
#bg_anreader .bg_container > ul li.active {background: #0288D1; color: #FFF;}
#bg_anreader .bg_container > ul li.new {border-left: 5px solid #40C4FF; padding-left: calc(1.25em - 5px);}
#bg_anreader .bg_container > ul li.new span.title {font-weight: bold;}

#bg_anreader .bg_container .content {width: calc(100% - 275px); float: right; background: #FFF; height: 100%; position: relative;}
#bg_anreader .bg_container .content .bg_spinner {position: absolute; top: 50%; left: 50%; margin: -0.55em 0 0 -0.5em;}
#bg_anreader.loaded .bg_container .content .bg_spinner {display: none;}
#bg_anreader .bg_container .content .page {height: 100%; overflow: auto; padding: 1em 1.25em; display: none;}
#bg_anreader .bg_container .content .page.active {display: block;}
#bg_anreader .bg_container .content .page .header {box-shadow: 0 0 0.25em rgba(0,0,0,0.25); padding: 1.25em 1.25em 0 10.5em; margin: -1em -1.25em 0; overflow: hidden; position: relative;}
#bg_anreader .bg_container .content .page .header span {float: right;}
#bg_anreader .bg_container .content .page .header .avatar {width: 120px; position: absolute; left: 1.25em; top: 0;}
#bg_anreader .bg_container .content .page .header a {color: #3e53a2; text-decoration: none;}
#bg_anreader .bg_container .content .page .header a:hover {text-decoration: underline;}
#bg_anreader .bg_container .content .page .header h1 {padding: 0.25em 0 0.8em; margin: 0;}
#bg_anreader .bg_container .content .page .header h1 a {font: normal 22px "Century Gothic", "TeXGyreAdventorBold", Arial, Tahoma, Verdana, sans-serif;}
#bg_anreader .bg_container .content .page .message {overflow: hidden; padding: 1.5em 0; font: normal 13px/1.231 'Lucida Grande', LucidaGrande, Lucida, Verdana, sans-serif;}
#bg_anreader .bg_container .content .page .message .quote {padding: 0; margin: 10px 0;}
#bg_anreader .bg_container .content .page .message .quote .cite {padding: 3px 5px; display: inline-block; background: rgba(0,0,0,0.05);}
#bg_anreader .bg_container .content .page .message .quote .quoted {background: rgba(0,50,83,0.025); border: 1px solid rgba(0,0,0,0.05); padding: 10px;}
