/* Spinner */
.bg_spinner {
	position: relative; display: inline-block; width: 1em; height: 1em; font-size: 100px; vertical-align: middle; overflow: hidden; text-indent: 100%;
	-webkit-animation: 1s spinner linear infinite;
	-moz-animation: 1s spinner linear infinite;
	animation: 1s spinner linear infinite;
}
.bg_spinner, .bg_spinner:before, .bg_spinner:after {border-radius: 100%;}
.bg_spinner:before, .bg_spinner:after {content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.bg_spinner:before {border: 5px solid; border-color: #81D4FA; box-shadow: 0 0 0.1em #81D4FA, 0 0 0.1em #81D4FA inset;}
.bg_spinner:after {border-top: 4px solid; border-bottom: 4px solid; border-color: #E040FB;}
@-webkit-keyframes spinner {to {-webkit-transform: rotate(360deg);}}
@-moz-keyframes spinner {to {-moz-transform: rotate(360deg);}}
@keyframes spinner {to {transform: rotate(360deg);}}

/* BetterGaia Model */
.bg_model {position: absolute; top: 25px; left: 50%; z-index: 99999; margin: 0; padding: 0; display: none; color: #222;}
.bg_model * {box-sizing: border-box;}
.bg_model.open {display: block;}
.bg_mask {display: none;}
.bg_model.open + .bg_mask {display: block; z-index: 99998; background: #000; opacity: 0.75; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}

.bg_model > h1 {padding: 0.7em; margin: 0; font: normal 27px "Century Gothic", "TeXGyreAdventorBold", Arial, sans-serif; color: #fff; background: radial-gradient(ellipse farthest-side at bottom center, rgba(179,229,252,0.75), transparent 95%); position: relative;}
.bg_model > h1 .close {cursor: pointer; font: normal 0.65em/1.4em 'Glyphicons Halflings'; color: #FFF; padding: 0 0.25em; margin: 0.4em -0.35em 0 0; border-radius: 1.5em/3.5em; float: right;}
.bg_model > h1 .close:after {content: '\e014';}
.bg_model > h1 .close:hover {background: #FFF; color: #222;}

.bg_model > .bg_container {border: 5px solid #37474F; border-width: 5px 0;}
