/* Guilds */
body.guilds #content {background: none; margin: 0 auto;}
body.guilds #content > #content-padding {background: #FFF; width: 930px; margin: 15px auto; padding: 10px; border-radius: 4px;}

	/* Index Page */
	body.guilds #gaia_content.grid_tony_levin #bd .yui-gb .yui-u.first {margin: 0 15px 0 0; width: 197px;}
	body.guilds #gaia_content.grid_tony_levin #bd .yui-gb .yui-u {margin: 0;}
	body.guilds #gaia_content.grid_tony_levin #bd .yui-gb .yui-u.last {margin: 0 0 0 15px;}

	/* Search Page */
	body.guilds #content > #search_results {background: #FFF; border-radius: 7px; margin: 20px auto; padding: 20px; width: 900px;}
	body.guilds #content > #search_results > form[name="searching"] > fieldset {float: right; margin: 8px 0;}
	body.guilds #content > #search_results > table {margin: 15px 0; width: 100%;}
	body.guilds #content > #search_results > .pagination {margin: 0;}

	/* Guild Header */
	body.guilds #content #guilds_tabs {height: auto;}
	body.guilds #content #guilds_tabs ul.gaia_tab_orphans li.clear {display: none;}
	body.guilds #content #guild_header {overflow: hidden; width: auto; margin: 0 0 15px; padding: 10px 15px; position: relative; height: auto;}
	body.guilds #content #guild_header #gaia_guilds {float: left; margin: 0;}
	body.guilds #content #guild_header .guild_banner {height: 40px; box-shadow: 0 0 6px -2px #000; position: absolute; top: 50%; right: 15px; margin-top: -20px;}

		/* Old Style */
		body.guilds #content #content-padding #guild_header {overflow: visible; margin: 50px 0 15px; border-radius: 4px; padding-bottom: 20px;}

		body.guilds #content #content-padding #guild_header #gaia_guilds {position: absolute; top: -65px; left: 0;}

		body.guilds #content #content-padding #guild_header #guild_info {width: auto;}
			body.guilds #content #content-padding #guild_header #guild_info h3 {margin: 5px 0;}
			body.guilds #content #content-padding #guild_header #guild_info p {margin: 0 0 5px;}
			body.guilds #content #content-padding #guild_header #guild_info ul {margin: 15px 0 0; display: block;}
				body.guilds #content #content-padding #guild_header #guild_info ul a {font-family: Arial, Helvetica, sans-serif;}
			body.guilds #content #content-padding #guild_header #guild_info .registry {float: none; right: 7px; margin: 0; padding: 0; position: absolute; top: -37px; width: auto;}

	/* Guild Front Page */
	body.guilds #content > #content-padding > div[style^='width:'][style$='960px;'] {width: 930px !important;}
	body.guilds #content > #content-padding > div[style^='width:'][style$='960px;'] center table[bgcolor="#000000"] {background: transparent none;}
	body.guilds #content > #content-padding > div[style^='width:'][style$='960px;'] center table[bgcolor="#eeeeff"] {padding: 10px; border-radius: 4px; width: 930px; margin: 0 0 -18px -4px;}

	/* Guild Inside */
	body.guilds #content > #content-padding > table.membertable {width: 930px;}
	body.guilds #content > table, body.guilds #content > form {background: #FFF;}

	/* Announcements */
	body.guilds #content > link[href="http://s.cdn.gaiaonline.com/src/gaia_guild.css"] {display: block; margin: 15px 0 0;}
	body.guilds #content > #mpm_postcontainer {background: #FFF; width: 950px; padding: 10px; border-radius: 4px;}
	body.guilds #content > table.membertable {width: 970px;}

	/* Clans */
	body.guilds #content > table {background: #fff; width: 100%;}
	body.guilds #content > #content-padding > table#clanheader {width: 930px; min-width: 930px;}

	/* Posts */
	body.guilds #content table .compoundSimplePost {position: relative;}
	body.guilds #content #guilds-topic-body {background: #FFF;}

	/* Reply Page */
	body.community.forums.app-page_posting #content > #content-padding {background: #FFF;}

	/* Posting page toolbar */
	body.community.forums.app-page_posting textarea#textInputArea {width: 670px !important; border: 1px solid #BBB !important; border-width: 0 1px 1px !important; padding: 3px 7px !important; background: #F6FBFC; font: normal 13px/1.7 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; box-sizing: border-box; min-height: 300px;}
		body.community.forums.app-page_posting textarea#textInputArea.bbcodable {margin-top: 46px !important;}
	body.community.forums.app-page_posting > #editor {margin-left: 0;}
