/* User Tags */
body .bgUserTag {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative; }

body .bgUserTag:after {
  display: table;
  content: '';
  clear: both; }

body .bgUserTag > a {
  font-size: 11px;
  background: #FFF;
  padding: 4px 7px 0;
  border-radius: 20px 0 0 20px;
  text-decoration: none;
  height: 20px; }

body .bgUserTag > a[href]:hover {
  text-decoration: underline;
  cursor: pointer; }

body .bgUserTag > a[href]:active {
  background: rgba(255, 255, 255, 0.5); }

body .bgUserTag > a:empty {
  display: none; }

body .bgUserTag > a:empty + span {
  border-radius: 20px;
  margin-left: 0; }

body .bgUserTag > span {
  cursor: pointer;
  background: #FFF;
  border-radius: 0 20px 20px 0;
  width: 20px;
  height: 20px;
  line-height: 21px;
  padding: 0 4px;
  text-align: left;
  margin-left: 1px; }

body .bgUserTag > span:before {
  font-family: 'Glyphicons Halflings';
  content: '\e041';
  font-size: 13px; }

body .bgUserTag > span:active {
  opacity: 0.5; }

body .bgUserTag > a, body .bgUserTag > span {
  display: block;
  float: left; }

body .bgUserTag .bgut_model {
  display: none;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  border: 2px solid #BBB;
  position: absolute;
  z-index: 10;
  padding: 10px;
  width: 250px;
  bottom: 125%;
  margin: 0;
  left: 0;
  word-wrap: break-word; }

body .bgUserTag .bgut_model h2 {
  color: #5AC8FA;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px; }

body .bgUserTag .bgut_model h2 a.bgclose {
  cursor: pointer;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 4px;
  top: 10px;
  overflow: visible;
  background: none !important;
  border: 0; }

body .bgUserTag .bgut_model h2 a.bgclose:after {
  content: "\00D7";
  color: #BBB;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  border-radius: 15px;
  font: bold 24px/20px Arial, Helvetica, sans-serif;
  text-shadow: none;
  text-indent: 0; }

body .bgUserTag .bgut_model h2 a.bgclose:hover:after {
  background: #BBB;
  color: #FFF; }

body .bgUserTag .bgut_model form label, body .bgUserTag .bgut_model form input {
  margin-bottom: 5px;
  height: 20px; }

body .bgUserTag .bgut_model form label {
  float: left;
  width: 50px;
  padding: 0 5px 0 0;
  line-height: 21px;
  text-align: left; }

body .bgUserTag .bgut_model form input {
  float: right;
  width: 175px; }

body .bgUserTag .bgut_model form label.bgerror {
  color: #F00; }

body .bgUserTag .bgut_model form label.bgerror + input {
  border: 1px solid #F00; }

body .bgUserTag .bgut_model form label[for='bgut_idtag'], body .bgUserTag .bgut_model form input#bgut_idtag {
  display: none; }

body .bgUserTag .bgut_model form p {
  float: left;
  font-size: 10px !important;
  margin: 5px 0 0 !important;
  text-align: left;
  width: 170px; }

body .bgUserTag .bgut_model form .bgut_buttons {
  padding: 6px 0 2px;
  text-align: right;
  clear: both; }

body .bgUserTag .bgut_model form .bgut_buttons a {
  padding: 2px 5px;
  background: #FFF;
  border-radius: 4px;
  color: #222;
  font: normal 12px Arial, Helvetica, sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0; }

body .bgUserTag .bgut_model form .bgut_buttons a:hover {
  background: rgba(0, 0, 0, 0.15);
  border-color: transparent; }

body .bgUserTag .bgut_model form .bgut_buttons a:active {
  background: #FFF;
  border-color: rgba(0, 0, 0, 0.5); }

body .bgUserTag .bgut_model form .bgut_buttons a.bgut_save {
  border-color: #5AC8FA; }

body .bgUserTag .bgut_model form .bgut_buttons a.bgut_save:hover {
  background-color: #5AC8FA; }

body .bgUserTag .bgut_model form .bgut_buttons a.bgut_save:active {
  background: #FFF;
  border-color: #1986b7; }

.bgUserTag.bgut_open .bgut_model {
  display: block; }

body .post .user_info {
  overflow: visible; }

body .postEven .bgUserTag .bgut_model {
  right: 0;
  left: auto; }
